.App{
  background-color:cornflowerblue;
  text-align: center;
  font-size:x-large;
}

.modal_result{
  text-align: center;
}

.name_form{
  margin:40px;
}
.start_button{
  margin-top: 30px;
  margin-bottom: 400px;
  block-size: 50px;
}
.link_start{
  text-decoration: none;
  color: aliceblue;
}

.button{
  margin:20px;
  height: 60px;
}


